body {
    font-family: Montserrat;
}

.container-fluid {
    padding: 3% 15%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0px 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: Montserrat-Light;
    font-weight: 100;
}

/* Download buttons */

.download-button {
    margin: 5% 3% 5% 0;

}

/* Title image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.title-text {
    font-family: Montserrat, sans-serif;
    font-size: 3.5rem;
    font-weight:900;
    line-height: 1.5;
}

.feature-heading {
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    font-weight:700;
    margin: 14px auto;
    text-align: center;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

.feature-description {
    color: #8f8f8f;
}